
/* 头部最外层div */
.ly-header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

/* 头像和用户名 */
.head-user{
    display: flex;
    height: 100%;
    width: 10%;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.head-user:hover{
    background-color: rgb(122, 136, 219);
}

.head-user span{
    display: inline-block;
}

.head-user span:nth-child(1){
    order: 1;
    height: 24px;
    width: 24px;
}

.head-user span:nth-child(1) img{
    width: 100%;
    height: 100%;
}

.head-user span:nth-child(2){
    order: 1;
    width: 50%;
    overflow: hidden; 
    text-overflow: ellipsis; 
} 

/* 退出 */
/* .head-exit{
    display: inline-block;
    order: 0;
    height: 100%;
    width: 4%;
    line-height: 100%;
    background-color: brown;
} */

/* .head-exit a{
    display: block;
    text-align: center;
    padding: 25px 10px;
    font-size: 12px;
    background-color: rgb(64, 154, 214);
} */

.head-exit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    /* background: #031321; */
    height: 100%;
    width: 4%;
    font-family: consolas;
}

.head-exit a {
    position: relative;
    display: inline-block;
    /* padding: 24px 30px; */
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
    transition: 0.2s;
}

.head-exit a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.head-exit a span {
    position: absolute;
    display: block;
}

.head-exit a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.head-exit a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.head-exit a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.head-exit a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.head-exit a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.head-exit a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.head-exit a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.head-exit a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
